<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    <h1>{{ title }}</h1>
    <ul>
        <li><strong>Category:</strong> {{ category }}</li>
        <li><strong>Temporal Resolution:</strong> {{ temporal_resolution }}</li>
        <li><strong>Domain:</strong> {{ domain }}</li>
        <li><strong>Variable:</strong> {{ variable }}</li>
        <li><strong>Dataset:</strong> {{ dataset }}</li>
        <li><strong>Description:</strong> {{ description }}</li>
        <li><strong>Path:</strong> {{ path }}</li>
    </ul>
</body>
</html>

